footer {
    background-color: #0056b3;
    left: 0;
    margin-top: 15%; 
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
}

.prosseguir{
    margin: auto;
    justify-self: center;
    justify-content: center;
    width: 70%;
}

@media screen AND (max-width: 1200px){
    .prosseguir{
        margin: auto;
        justify-self: center;
        justify-content: center;
        width: 100%;
    }
}