#container{
    padding-bottom: 18%;
}


@media screen AND (min-width: 1024px) AND (min-height: 900px){

    footer {
        background-color: #0056b3;
        left: 0;
        margin-top: 5%;
        position: fixed; 
        bottom: 0;
        width: 100%;
        text-align: center;
    }
}

@media screen AND (min-width: 1400px){

    footer {
        background-color: #0056b3;
        left: 0;
        margin-top: 5%;
        position: fixed; 
        bottom: 0;
        width: 100%;
        text-align: center;
    }
}